<div class="verybottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<ul class="social_small">
					<li class="facebook first"><a href="#" title="Facebook">Facebook</a></li>
					<li class="twitt"><a href="#" title="Twitter">Twitter</a></li>
					<li class="googleplus"><a href="#" title="google plus">Google plus</a></li>
					<li class="flickr"><a href="#" title="flickr">Flickr</a></li>
					<li class="dribbble"><a href="#" title="Dribbble">Dribbble</a></li>
				</ul>
				
			</div>
			<div class="col-sm-6 col-md-6">
				<p class="pull-right">
					© Scaffold 2013 - All right reserved
					icons by <a href="http://glyphicons.com/" target="_blank">http://glyphicons.com/</a>
				</p>
			</div>
		</div>
	</div>
</div>