<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container" data-ng-controller="HeaderController">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-header"><a class="logo navbar-brand" href="/#!/">
					<img src="assets/_images/logo.png" alt="Koora 2014">
				</a></div>
			</div>

			
			<!-- logo -->
			
			<!-- end logo -->
			<!-- top menu -->
			<div>
				
				<nav>
					<ul class="nav topnav navbar-nav">
						<li class="dropdown primary">
							<a href="#!/">
								<span class="glyphicon glyphicon-home">
									Home
								</span>
							</a>
						</li>
						<li class="dropdown danger my-predictions">
							<a href="/#!/my-predictions">
								<span class="glyphicon glyphicon-th-list">
									 My Predictions
								</span>
							</a>
						</li>
						<li class="dropdown success">
							<a href="/#!/my-pools">
								<span class="glyphicon glyphicon-glass">
									My Groups
								</span>
							</a>
						</li>
						<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
							<li class="inverse" ui-route="/signup" ng-class="{active: $uiRoute}">
								<a href="/#!/signup">
									<span class="glyphicon glyphicon-pencil">
										Register
									</span>
								</a>
							</li>
							<li class="divider-vertical"></li>
							<li class="inverse" ui-route="/signin" ng-class="{active: $uiRoute}">
								<a href="/#!/signin">
									<span class="glyphicon glyphicon-chevron-right">
										Login
									</span>
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-user" data-ng-bind="authentication.user.firstName"></span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/#!/settings/profile">Edit Profile</a>
									</li>
									<li>
										<a href="/#!/settings/accounts">Manage Social Accounts</a>
									</li>
									<li data-ng-show="authentication.user.provider === 'local'">
										<a href="/#!/settings/password">Change Password</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/auth/signout">Signout</a>
									</li>
								</ul>
							</li>
						</ul>
					</ul>
					<select data-ng-change="goTo(selectedPage)" data-ng-model="selectedPage">
						<option uiRoute value="">Home</option>
						<option ui-route="/my-predictions"
						 ng-selected="$uiRoute" value="my-predictions">
							My Predictions
						</option>
						<option ui-route="/my-pools"
						 ng-selected="$uiRoute" value="my-pools">
							My Groups
						</option>
						<option ui-route="/signup"
						 ng-selected="$uiRoute" value="signup" ng-if="!authentication.user">
							Register
						</option>
						<option ui-route="/signin"
						 ng-selected="$uiRoute" value="signin" ng-if="!authentication.user">
							Login
						</option>

						<option ui-route="/settings/profile"
						 ng-selected="$uiRoute" value="settings/profile" ng-if="authentication.user">Edit Profile</option>

						<option ui-route="/settings/accounts"
						 ng-selected="$uiRoute" value="settings/accounts" ng-if="authentication.user">Manage Social Accounts</option>

						<option ui-route="/settings/password"
						 ng-selected="$uiRoute"  value="settings/password" ng-if="authentication.user.provider === 'local'">Change Password</option>

						<option ui-route="/auth/signout"
						 ng-selected="$uiRoute"  value="auth/signout" ng-if="authentication.user">Signout</option>
						
					</select>
				</nav>
			</div>
			<!-- end menu -->
		</div>
	</div>
</div>