<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top" role="navigation">
	<div class="container" data-ng-controller="HeaderController">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/#!/" class="navbar-brand">Koora 2014</a>
			</div>

			<!-- <div class="navbar-header"><a class="logo navbar-brand" href="index.html">
			<img src="assets/img/logo.png" alt="">
			</a></div> -->
			<!-- logo -->
			
			<!-- end logo -->
			<!-- top menu -->
			<div>
				
				<nav>
					<ul class="nav topnav navbar-nav">
						<li class="dropdown success">
							<a href="#!/">
								<span class="glyphicon glyphicon-home">
									Home
								</span>
							</a>
						</li>
						<li class="dropdown primary">
							<a href="#">
								<span class="glyphicon glyphicon-th-list">
									 My Predictions
								</span>
							</a>
						</li>
						<li class="dropdown danger">
							<a href="/#!/results">
								<span class="glyphicon glyphicon-glass">
									Pool
								</span>
							</a>
						</li>
						<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
							<li class="inverse" ui-route="/signup" ng-class="{active: $uiRoute}">
								<a href="/#!/signup">
									<span class="glyphicon glyphicon-pencil">
										Signup
									</span>
								</a>
							</li>
							<li class="divider-vertical"></li>
							<li class="inverse" ui-route="/signin" ng-class="{active: $uiRoute}">
								<a href="/#!/signin">
									<span class="glyphicon glyphicon-chevron-right">
										Signin
									</span>
								</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-user" data-ng-bind="authentication.user.firstName"></span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/#!/settings/profile">Edit Profile</a>
									</li>
									<li>
										<a href="/#!/settings/accounts">Manage Social Accounts</a>
									</li>
									<li data-ng-show="authentication.user.provider === 'local'">
										<a href="/#!/settings/password">Change Password</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/auth/signout">Signout</a>
									</li>
								</ul>
							</li>
						</ul>
					</ul>
				</nav>
			</div>
			<!-- end menu -->
		</div>
	</div>
</div>