<section data-ng-controller="HomeController">
		<div class="row how-it-works" data-ng-include="'/modules/core/views/how-it-works.client.view.html'">
		</div>

		<div class="countdown row hidden">
			<h3 class="heading-success"><span class="btn btn-success btn-lg"><i class="glyphicon glyphicon-exclamation-sign"></i></span>&nbsp;&nbsp;World Cup Countdown</h3>
			<div class="col-md-3">
				<div class="number alert alert-success">
						<div>{{remainingTime.days}}</div>
				</div>
				<div class="alert alert-warning timeunit">
						days	
				</div>
			</div>
			<div class="col-md-3">
				<div class="number alert alert-success">
						<div>{{remainingTime.hours}}</div>
				</div>
				<div class="alert alert-warning timeunit">
						hours	
				</div>
			</div>
			<div class="col-md-3">
				<div class="number alert alert-success">
						<div>{{remainingTime.minutes}}</div>
				</div>
				<div class="alert alert-warning timeunit">
						minutes
				</div>
			</div>
			<div class="col-md-3">
				<div class="number alert alert-success">
						<div>{{remainingTime.seconds}}</div>
				</div>
				<div class="alert alert-warning timeunit">
						seconds
				</div>
			</div>
		</div>
	
</section>