
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<h3 class="heading-success"><span class="btn btn-success btn-lg"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;How it works?</h3>
				<p>
					Register, add your predictions for all the games and the final before the start of the World Cup. 
					<br/><br/>
					Sit back and relax and we will do the calculations and run the pool. No paper work, no Excel sheets, no hassle.
					<br/><br/>
						You might even win amazing Prizes! 
					<br/>
					<small>(probably not but it's still fun)</small>
				</p>
			</div>
			
			<div class="col-sm-3 col-md-3">
				<div class="well well-warning box">
					<img src="assets/img/icons/box-2-white.png" alt="">
					<h3>Scoring</h3>
					<p>
						 <strong>5 points</strong> for a correct score.<br/>
						 3 points for a correct outcome.<br/>
						 -1 point for a wrong outcome.<br/><br/>

						 You also predict the two finalists and the winner before the start of the tournament. (each worth 50 points) <br/><br/>
						 These predictions will be locked at the start of the tournament.
					</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="well well-primary box">
					<img src="assets/img/icons/box-2-white.png" alt="">
					<h3>Second round</h3>
					<p>
						 After the first round, predictions will be re-opened for the knockout stage.
						 <br/><br/>
						 You will have the chance to predict the teams qualifying for each round, and get 10 points for each correct team.
					</p>
				</div>
			</div>

			<div class="col-sm-3 col-md-3">
				<div class="well well-success box">
					<img src="assets/img/icons/box-2-white.png" alt="">
					<h3>Groups</h3>
					<p>

					Start a Group (i.e. MyCompany's group) and invite your friends to join it. You will then have extra options and custom rankings between members of that group. 
				 You could organize the group internally to have prizes or sweepstakes while not worrying about running the pool and competition.
					<br/><br/>
					Your group will also be ranked (as a whole) against the rest of the world.
					</p>
				</div>
			</div>
		</div>
	</div>