
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<h3 class="heading-success"><span class="btn btn-success btn-lg"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;How it works?</h3>
				<p>
					Start a new pool (i.e xCompany's competition) or join an existing one, invite your friends and predict the scores. Then wait for the World Cup to start, and see who does best between you and your friends.
					<br/><br/>
					Also, if you have 11 members or more in your pool then the aggregate of your scores will be ranked against other groups in the Global tournament.<br/><br/>
				</p>
			</div>
			
			<div class="col-sm-3 col-md-3">
				<div class="well well-warning box">
					<img src="assets/img/icons/box-2-white.png" alt="">
					<h3>Scores</h3>
					<p>
						 <strong>5 points</strong> for a correct score.<br/>
						 3 points for a correct outcome.<br/>
						 -1 point for a wrong outcome.<br/><br/>

						 You also predict the two finalists and the winner before the start of the tournament. (each worth 50 points) <br/><br/>
						 These predictions will be locked at the start of the tournament.
					</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="well well-primary box">
					<img src="assets/img/icons/box-3-white.png" alt="">
					<h3>Second round</h3>
					<p>
						 After the first round, predictions will be re-opened for the knockout stage.
						 <br/><br/>
						 You will have the chance to predict the teams qualifying for each round, and get 10 points for each correct team.
					</p>
				</div>
			</div>

			<div class="col-sm-3 col-md-3">
				<div class="well well-success box">
					<img src="assets/img/icons/box-1-white.png" alt="">
					<h3>Sponsored matches</h3>
					<p>
					Selected games will have sponsors providing prizes for predicting the right score (or for special questions). Follow us on Twitter, you might win something!
					</p>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="divider">
				</div>
			</div>
		</div>
		<!-- end divider -->
		
	</div>