
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<h3 class="heading-success"><span class="btn btn-success btn-lg"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;How it works?</h3>
				<p>
					Start a team (i.e xCompany's team) or join an existing team, invite your friends and predict your scores. Then wait for the world cup to start, and see who does best between your friends.
					<br/><br/>
					Your team will also be ranked against other teams in a global competition, to take part of that, you have to have 11 members or more in the team (if it is more then the average of the best 6 team members and worst 5 will be used to get the team's score).
				</p>
			</div>
			
			<div class="col-sm-3 col-md-3">
				<div class="well well-success box">
					<img src="assets/img/icons/box-2-white.png" alt="">
					<h3>Scores</h3>
					<p>
						 <strong>5 points</strong> for a correct score.<br/>
						 3 points for a correct outcome.<br/>
						 -1 point for a wrong outcome.<br/><br/>

						 You also predict the two finalists and winner before the start of the tournament. (50 points for correct finalists, 20 points for correct winner, or 100 points if you predict both) <br/><br/>
					</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="well well-warning box">
					<img src="assets/img/icons/box-3-white.png" alt="">
					<h3>Second round</h3>
					<p>
						 After the first round, predictions will be re-opened for the knockout stage.
						 <br/><br/>
						 You will have the chance to predict the teams qualifying to each round, and get 10 points for each team.
					</p>
				</div>
			</div>

			<div class="col-sm-3 col-md-3">
				<div class="well well-primary box">
					<img src="assets/img/icons/box-1-white.png" alt="">
					<h3>Sponsored matches</h3>
					<p>
					Some games will have sponsors providing prizes for predicting the right score (or for special questions). Follow us on Twitter, you might win something!
					</p>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="divider">
				</div>
			</div>
		</div>
		<!-- end divider -->
		
	</div>