<div data-ng-controller="MyPoolsController">

	<h2 data-ng-show="!groupByName && authentication.user">My Standings</h2>
	<h2 data-ng-show="groupByName && authentication.user && groupFound">{{poolToJoin.displayName}}</h2>
	<hr/>
	<div class="row" data-ng-show="!authentication.user">
		<div class="col-md-8">
			<div class="alert alert-danger" ng-show="!groupByName">
				You need to <a href="#!/signin">Login</a> or <a href="#!/signup">Register</a> in order to view your points and standings.
			</div>
			<div class="alert alert-danger" ng-show="groupByName">
				You need to <a href="#!/signin?returnUrl={{returnUrl}}">Login</a> or <a href="#!/signup?returnUrl={{returnUrl}}">Register</a> to join this League.
			</div>
		</div>
	</div>
	<div class="row" data-ng-show="authentication.user">
		<div class="col-md-8">
			<select class="form-control" ng-change="goTo(selectedPool.name)" ng-model="selectedPool" ng-options="pool.displayName for pool in myPools" ng-hide="!authentication.user || myPools.length === 0">				
				
			</select>

			<div class="row" ng-show="groupByName">
				<div ng-show="!groupFound" class="row">
					<br>
					<div class="col-md-offset-3 col-md-6">
						<div class="alert alert-danger">A League with the name "<strong>{{groupNotFoundName}}</strong>" was not found. Make sure that you have entered the correct url.
						</div>
					</div>
				</div>
				<div data-ng-show="groupFound && !isMemberOfGroup" class="row">
					<br>
					<div class="alert alert-warning col-md-10 col-md-offset-1">
						Your are not member of this League.<br/><br/>
						If you were invited to join "<strong>{{poolToJoin.displayName}}</strong>" League, then please provide the password you were given.
						<br/><br/>
						<div class="row">
							<div class="col-md-12">
								<form class="form-inline" role="form">
									 <div class="form-group">
									 	<label class="sr-only" for="group-password">Password</label>
										<input data-ng-disabled="joinedSuccess" ng-model="joinPassword" id="group-password" class="form-control" placeholder="password" />
									</div>
									
									<button data-ng-disabled="joinedSuccess" data-ng-click="joinPool()" class="btn btn-primary form-control">Join this League</button>
								</form>
							</div>
						</div>
						<div class="row" data-ng-show="joinError">
							<div class="col-md-12">
								<div class="alert alert-danger">
									{{joinError}}
								</div>
							</div>
						</div>

						<div class="row" data-ng-show="joinedSuccess">
							<div class="col-md-12">
								<div class="alert alert-success">
									You successfully joined this League. Go to <a href="#!/my-leagues">My Standings</a> to see the standings and more.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			

			<div class="row">
				<br/>
				<div data-ng-show="isMemberOfGroup && groupFound" data-ng-include="'/modules/koora/views/pools/pool-standings.html'">
				</div>
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="alert alert-warning">
					<h4>My Leagues</h4>
					<hr/>
					<div data-ng-show="!myPools || myPools.length === 0">
						You are not a part of any League
					</div>
					<ul data-ng-repeat="pool in myPools">
						<li>
							 <span data-ng-show="pool.isAdmin" title="You created this League" class="glyphicon glyphicon-user"></span>
							 
							<a href="#!/my-leagues/{{pool.name}}">{{pool.displayName}}</a>
							
							 <div data-ng-show="pool.isAdmin">Password: 
							  <strong><span data-ng-show="pool.isAdmin" title="Share this password for people willing to join your League"> {{pool.password}}</span></strong>
							  <br/>
							  <small>(Share this password along with the link of the League <a href="#!/my-leagues/{{pool.name}}">{{baseUrl + "/" + pool.name}}</a> to your friends to be able to join you)</small>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				
					<div ng-show="!isPoolAdmin">
						<form class="form-group">
							<div class="section-header">Start a New League</div>
							
								<div>
									<label class="control-label">Name of the League</label>
								</div>
								<div>
						    		<input ng-model="poolToSave.displayName" class="form-control" placeholder="my Company's IT department" />
								</div>
							
						</form>
						<button type="button" data-ng-click="savePool()" class="btn btn-primary">Create a new League</button>
					
				</div>
				<div ng-show="savedPool">
					<br/>
						<div class="alert alert-success">Your League <strong>"{{savedPool.displayName}}"</strong>
						was successfully Created. <br/><br/>
						Please share <a href="#!/my-leagues/{{savedPool.name}}">the link</a> with your friends to join your League. They will also need this password to be able to join. Password is <strong>{{savedPool.password}}</strong>
					</div>
				</div>
			</div>

			<div class="alert alert-success"><strong>Leagues</strong> are a simple way of getting together with your friends in a sub-competition. For example, you can create a League for your company and invite your colleagues to compete against each other, or within a company, each department could have a different League, and compete within these League. <br/><br/>

			Also, if your League contains more than 11 players, then it automatically qualifies for the Teams competition where you see how your League as a whole compares to other Leagues.
			</div>
		</div>
	</div>
</div>