/* Koora stuff */
.navbar-header a.navbar-brand {
	font-size: 3em;
	padding-top: 0.8em;
}
.navbar-header a.navbar-brand img {
	height: 100%
}
.maincontent {
	padding: 50px 0 20px;
}

.loader {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url('../_images/loader.gif');
}
.navbar {
	border: 1px solid #d4d4d4;
}

.navbar .nav .danger > a, .navbar .nav .danger > a:hover {
	background-color: rgba(254, 213, 0, 0.95);
	color: #000;
}

.well-success, .well-success:hover {
	background-color: #7cbb00;
}

.navbar .nav .my-predictions {
	background-image: url('../_images/brazil_inner_flag.png');
}

.navbar .nav .primary.my-predictions > a,
.navbar .nav .primary.my-predictions > a:hover,
.navbar .nav .primary.my-predictions > a:focus {
	
	background-color: #f7f409;
}


.well-warning, .well-warning:hover {
	background-color: #FED500;
	color: #000;
}

.how-it-works .well.box {
	height: 400px;
}

.my-predictions input {
	height: 47px;
	width: 100px;
	margin-left: 10px;
	padding: 5px;
	text-align: center;
	line-height: 45px;
}

.prediction-options {
	margin-top: 25px;
	/*text-align: right;*/
}

.group-selector {
	font-size: 1.3em;
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
}

.groups-strip .group {
	display: inline-block;
}
.groups-strip .groupname {
	cursor: pointer;
}
.groups-strip .groupname.selected {
	text-decoration: underline;
}

.save-predictions {
	text-align: center;
}

.save-predictions button {
	height: 45px;
	margin-bottom: 10px;
	text-align: center;
}

img.standing-flag {
	width: 35px;
	height: 23px;
}

@media (min-width: 992px){
	.prediction-options {
		position: fixed;
	}
}
.section-header {
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
	
}

 .match-date {
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px;
	
}
.match-row {
	height: 150px;
}
.match-row .team {
	font-size: 26px;
	width: 40%;
	float: left;
	padding:10px;
}
.match-row .team {
	text-align: center;
}
.match-row .vs {
	text-align: center;
	color: #70706F;
	font-size: 26px;
	width: 20%;
	float: left;
	padding: 16px;
}

.standings-table {
	text-align: center;
}
.alert.missing-scores {
	text-align: center;
}
.finalists-prediction .vs {
	text-align: center;
	margin: 5px;
}
.finalists-prediction label {
	
}
.finalists-prediction select {
	margin-bottom: 5px;
}

@media (min-width: 992px){
	.countdown {
		display: block !important;
		visibility: visible !important;
	}
}
.countdown .number {
	height: 200px;
	text-align: center;
	padding-top: 80px;
	font-size: 4em;
}
.countdown .timeunit {
	font-size: 2.2em;
	text-align: center;
}
.countdown .register{
	height: 200px;
	text-align: center;
	padding-top: 35px;
	font-size: 2.1em;
	line-height: 2.2em;
	vertical-align: middle;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-top: -10px;
}