/* Koora stuff */
.maincontent {
	padding: 75px 0 20px;
}

.navbar {
	border: 1px solid #d4d4d4;
}

.well-success, .well-success:hover {
	background-color: #007600;
}

.well-primary, .well-primary:hover {
	background-color: #3200fe;
}

.well-warning, .well-warning:hover {
	background-color: #fefe00;
	color: #000;
}

.how-it-works .well.box {
	height: 400px;
}

.my-predictions input {
	height: 47px;
	width: 100px;
	margin-left: 10px;
	padding: 5px;
	text-align: center;
	line-height: 45px;
}

.prediction-options {
	margin-top: 25px;
	text-align: right;
}

.group-selector {
	font-size: 1.3em;
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
}

.save-predictions {
	height: 45px;
	margin-bottom: 10px;
}

img.standing-flag {
	width: 35px;
	height: 23px;
}
.prediction-options {
	position: fixed;

	
}

 .match-date{
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px;
	
}
.match-row {
	height: 150px;
}
.match-row .team {
	font-size: 26px;
	width: 40%;
	float: left;
	padding:10px;
}
.match-row .team {
	text-align: center;
}
.match-row .vs {
	text-align: center;
	color: #70706F;
	font-size: 26px;
	width: 20%;
	float: left;
	padding: 16px;
}

.standings-table {
	text-align: center;
}
.alert.missing-scores {
	text-align: center;
}