<div class="standings-table pool">
	<div>
		<table class="table table-condensed">
    		<th>
    			<td></td>
                <td></td>
    			<td>Points</td>
    			<td>Predicted Final</td>
    			<td>Predicted Winner</td>
    		</th>
            <tbody class="member-details">
        		<tr class="overview-row" data-ng-hide="member.showMemberDetails" ng-click="showMemberDetails(member)" data-ng-repeat-start="member in selectedPool.members | orderBy:'points':true" >
        			<td>
                        <span ng-if="!member.showMemberDetails" class="glyphicon glyphicon-chevron-right">
                                    </span>
        			</td>
                    <td>{{$index + 1}}</td>
                    <td class="text-center">
                        {{member.displayName}}
                    </td>
        			<td>{{member.points}}</td>
                    <td>
                        <div data-ng-show="member.predictions.winner">
                            <img ng-attr-title="{{teamsNames[member.predictions.finalist1]}}" class="standing-flag" data-ng-src="/assets/flags/{{member.predictions.finalist1.toLowerCase()}}.png" />
                              
                            <img ng-attr-title="{{teamsNames[member.predictions.finalist2]}}" class="standing-flag" data-ng-src="/assets/flags/{{member.predictions.finalist2.toLowerCase()}}.png" />
                        </div>
                    </td>
        			<td>
                        <div data-ng-show="member.predictions.winner">
                            <img title="{{teamsNames[member.predictions.winner]}}" data-ng-src="/assets/flags/{{member.predictions.winner.toLowerCase()}}.png" />
                        </div>
                        <div data-ng-show="!member.predictions.winner">
                            <small>Still haven't entered their predictions</small>
                        </div>
                    </td>
        		</tr>
                <tr class="more-details"  data-ng-if="member.showMemberDetails" data-ng-repeat-end>
                    <td colspan="6">
                        <div class="row text-left">
                            
                            <div class="col-xs-offset-1 col-xs-12" data-ng-click="member.showMemberDetails=!member.showMemberDetails">

                                <h2 class="name-header" >{{member.displayName}} ({{member.points}} points)</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row text-left">
                             <div class="col-xs-12 col-md-2 col-md-offset-1">
                                <h4>Next Predictions</h4>
                            </div>
                            <div class="col-xs-9 text-center" ng-if="member.stats.nextMatches.length === 0"><br>
                                <small>Next Predictions will be shown two hours before the start of each game</small>
                            </div>
                            <div data-ng-repeat="match in member.stats.nextMatches.slice(0,3) | orderBy:matchId " class="col-xs-6 col-md-3 predictions-box">
                                <div class="row">
                                     <div class="col-xs-6">
                                            <img title="{{teamsNames[match.team1]}}" data-ng-src="/assets/flags/{{match.team1.toLowerCase()}}.png" />
                                        </div>
                                        <div class="col-xs-6">
                                            {{match.team1Score}}
                                        </div>
                                </div>
                                <div class="row">
                                     <div class="col-xs-6">
                                            <img title="{{teamsNames[match.team2]}}" data-ng-src="/assets/flags/{{match.team2.toLowerCase()}}.png" />
                                        </div>
                                        <div class="col-xs-6">
                                            {{match.team2Score}}
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-xs-10 col-xs-offset-1">

                                <h5 class="previous-predictions" ng-click="member.showPreviousPredictions= !member.showPreviousPredictions">

                                    <span ng-if="!member.showPreviousPredictions" class="glyphicon glyphicon-plus-sign">
                                    </span><span ng-if="member.showPreviousPredictions" class="glyphicon glyphicon-minus-sign">
                                    </span>
                                    Previous Predictions
                                    <small>({{member.stats.correctScores}} exact scores, {{member.stats.correctOutcomes}} correct outcomes)</small>
                                </h5>

                            </div>
                        </div>
                        <div class="row" data-ng-show="member.showPreviousPredictions">
                            <div class="col-xs-12">
                                <div data-ng-repeat="match in member.stats.userMatches" class="col-xs-12 col-md-3 col-md-offset-1 predictions-box">
                                    <div class="row"></div>
                                   <div class="row">
                                        <div class="col-xs-4">
                                            <img class="flag" title="{{teamsNames[match.team1]}}" data-ng-src="/assets/flags/{{match.team1.toLowerCase()}}.png" />
                                        </div>
                                        <div class="col-xs-2">
                                            {{match.team1Score}}
                                            
                                        </div>
                                        <div class="col-xs-2">
                                            ({{match.actualTeam1Score}}) 
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                         <div class="col-xs-4">
                                            <img title="{{teamsNames[match.team2]}}" data-ng-src="/assets/flags/{{match.team2.toLowerCase()}}.png" />
                                        </div>
                                        <div class="col-xs-2">
                                            {{match.team2Score}}

                                        </div>
                                        <div class="col-xs-2">
                                            ({{match.actualTeam2Score}}) 
                                        </div>
                                         <div class="col-xs-2">

                                                    <small class="no-prediction" ng-if="angular.isUndefined(match.team1Score)">
                                                         no prediction <span class="pts-label pts-1">-1</span>
                                                    </small>
                                                    <span class="pts-label pts-1" ng-if="match.points === -1">
                                                        -1
                                                    </span>
                                                    <span class="pts-label pts3" ng-if="match.points === 3">
                                                        +3
                                                    </span>
                                                    <span class="pts-label pts5" ng-if="match.points === 5">
                                                        +5
                                                    </span>
                                            
                                        </div>

                                    </div>
                                    
                                   
                                </div>
                            </div>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
    	</table>
	</div>
</div>