<section class="row" data-ng-controller="ResetPasswordController">
	<h3 class="col-md-12 text-center">Reset your password</h3>

	<div data-ng-show="!resetPasswordDetails.resetKey" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form  class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="resetEmail">Email</label>
					<input type="email" id="resetEmail" name="resetEmail" class="form-control" data-ng-model="resetPasswordDetails.email" placeholder="Your Email">
				</div>
				<div class="text-center form-group">
					<button data-ng-disabled="!resetPasswordDetails.email || ajaxInProgress" data-ng-click="requestResetKey()" class="btn btn-large btn-primary">Request Reset</button>
				</div>
				<div  data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="alert alert-success text-center" data-ng-show="keyRequestSuccess">
					A message with a link to reset your password was sent to your email.
				</div>
			</fieldset>
		</form>
	</div>

	<div data-ng-show="resetPasswordDetails.resetKey" class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form  data-ng-submit="resetPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-show="!changePasswordSuccess">
					<div class="form-group">
						<label for="resetKey">Reset Key</label>
						<input disabled id="resetKey" name="resetKey" class="form-control" data-ng-model="resetPasswordDetails.resetKey">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input id="email" name="email" class="form-control" data-ng-model="resetPasswordDetails.email">
					</div>
					<div class="form-group">
						<label for="newPassword">New Password</label>
						<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="resetPasswordDetails.newPassword" placeholder="New Password">
					</div>
					<div class="form-group">
						<label for="verifyPassword">Verify Password</label>
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="resetPasswordDetails.verifyPassword" placeholder="Verify Password">
					</div>
					<div class="text-center form-group">
						<button data-ng-disabled="ajaxInProgress || !resetPasswordDetails.verifyPassword || !resetPasswordDetails.newPassword || !resetPasswordDetails.email || resetPasswordDetails.newPassword !== resetPasswordDetails.verifyPassword" type="submit" class="btn btn-large btn-primary">Change Password</button>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</div>
				<div data-ng-show="changePasswordSuccess" class="alert alert-success text-center text-success">
					<strong>Password Changed Successfully. You can <a href="#!/signin">login</a> using your new password.</strong>
				</div>
				
			</fieldset>
		</form>
	</div>
</section>