<section class="row" data-ng-controller="AuthenticationController">
	<!--
	<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
	</div>
-->
	<h3 class="col-md-12 text-center">Sign up with your email</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>

				<div class="form-group">
					<label for="firstFinalist">Predicted Finalists</label>
					<select id="firstFinalist" title="First Finalist" class="form-control" ng-model="finalist1" ng-options=" k as v for (k, v) in teamsNames">
						<option value="">First Finalist</option>
					</select>
					<div class="text-center">vs</div>
					<select id="firstFinalist" title="First Finalist" class="form-control" ng-model="finalist2" ng-options=" k as v for (k, v) in teamsNames">
						<option value="">Second Finalist</option>
					</select>
					<div class="alert alert-warning" data-ng-show="finalist1 && finalist1 === finalist2">
					  <strong>Your finalists can't be the same (obviously!)</strong>
					</div>
				</div>

				<div class="form-group">
					<label for="winner">Winner</label>
					<select class="form-control" ng-selected="finalist1 || finalist2" ng-disabled="!finalist1 || !finalist2 ||finalist1 === finalist2"  ng-model="winner" ng-options="teamsNames[v] for v in [finalist1, finalist2]">
				</select>
				</div>
				<div class="text-center form-group">
					<button title="Please enter all fields including predicted finalists" data-ng-disabled="!credentials.password || !credentials.username || !credentials.email || !credentials.firstName || !finalist1 || !finalist2 || !winner || finalist1 === finalist2" type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>