<section data-ng-controller="KooraAdminController" data-ng-init="loadEmails()">
<div class="row">
	<div class="col-md-6">
		<h2>Generate Emails</h2>
		<form class="form-horizontal" role="form">  
			<div class="form-group">
				<input placeholder="subject" data-ng-model="emailToSend.subject">
				</input>
			</div>
			<div class="form-group">
				<textarea placeholder="body" data-ng-model="emailToSend.bodyCustomMessage">
				</textarea>
			</div>
			<button data-ng-disable="emailToSend.subject.length === 0 || emailToSend.bodyCustomMessage.length === 0" ng-click="generateEmails()" class="btn btn-primary btn-large">
				Generate Emails
			</button>
		</form>
	</div>
</div>

<h2>
	Emails - {{emails.length}}
</h2>
	<div class="row" data-ng-repeat="email in emails">
		<div class="col-md-3">
			<strong>{{email.toEmail}}</strong>
			<br>
			{{email.subject}}
		</div>
		<div class="col-md-6" data-ng-bind-html="renderHtml(email.emailBody)">
		</div>

		<div class="col-md-12">
			<hr>
		</div>
	</div>
</section>